<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <main class="container">
        <a class="navbar-brand" >Chat App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                {{#if session.is }}
                    <li class="nav-item">
                        <a class="nav-link" id="logout" href="javascript:socketDisconnect();">Logout</a>
                    </li>
                {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Sign Up</a>
                    </li>
                {{/if}}
            </ul>
        </div>
    </main>
</nav>