@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

:root {
	--dark-color-a: 
	#1A1A6E;

	--lightest-color: whitesmoke;
	--light--color:whitesmoke;
	--link-color:#0E0ED6;
	--button-color:#95d2df;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}



body {
	width: 100%;
    height: 100vh;
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 16px;
	background-color: var(--light--color);
	margin: auto;
	align-items: center;
}

h4{
	color:var(--light--color);
}

.btn:hover{
	background-color:var(--button-color);
	border:1px solid var(--button-color);
}

/* LOGIN AND REGISTER */

.entry-container {
	width: 40vw;
	max-width: 370px;
	min-width: 250px;
	background-color:var(--dark-color-a);
	margin:3em auto;
	border-radius:1em;
	
	
	
}

.entry-container h1{
	margin:auto;
	text-align:center;
	padding-top:1.5em;
	padding-bottom:1em;
	color:var(--light--color);
}

.entry-container form{
	width:90%;
	margin:auto;
	padding-bottom:2.5em;
	
	
}

.entry-container fieldset{
    margin:auto;
	border:none;
	text-align:center;
	
}

.entry-container label{
	margin:0;
	display:block;
	padding-top:1em;
	font-size:16px;
}

.entry-info{
	text-align:center;
	margin:-2em;
}

.entry-info a{
	
	text-align: center;
	color:var(--link-color);
}


  
  





/* CHAT */
.chat-container{
	
	max-width: 700px;
	min-width: 500px;
	background-color:var(--dark-color-a);
	margin:1em auto;
	border-radius:1em;
	padding-bottom:8em;
	
	
	
}

.chat-header h1{
	color:var(--light--color);
	text-align:center;
	padding-bottom:0.4em;
	
}



button[name="leave-btn"] {
	margin-top:2em;
	margin-left:46em;
	
}



.chat-sidebar{
	
	margin-left:2em;
	display:flex;
	flex-direction:column;
	justify-content: space-between;
	
	
	
}

.add-room{
	
	display:inline-block;
	padding-bottom:1em;
}


.chat-form-container{
	
	padding-bottom:2em;
	justify-content: center;
	
	
	
}

.chat-form{
	
	
	display:inline-block;
    
}

textarea{
	width:80%;
	max-height: 80%;
	
	
}

.chat-main{
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	border-bottom: 2px solid var(--link--color);
	
	
	
}

#new-message{
	width:67%;
}

.room-display{
	color:var(--dark-color-a);
	font-size:12px;
	background-color:var(--light--color);
}

.room-display option{
	padding-top:0.1em;
	padding-bottom:0.1em;
	height:1em;
}

.user-display{
	margin-top:2em;
	
}

.user-display p{
	color:var(--light--color);
	font-size:12px;
}