<%- layout("layouts/main.ejs")%>

<script src="/socket.io/socket.io.js"></script>
<script src="index.js"></script>
<h3>User(<%= user.name %>)</h3>
<div class="row">
  <div class="col-mt-4 offset-md-4">
    <div class="card mt-4 text-center">
      <div class="card-header">
          <h2 id="messages"></h2>
      </div>
      <div class="card-body">
        <form onsubmit="return addMessage(this)">
          <label id="fuser"><%= user.name %></label>
          <input type="text" id="user" name="fuser">
          <input type="text" id="texto" placeholder="Write ...">
          <input type="submit" value="Enviar">
        </form>
      </div>
    </div>
  </div>
</div>
<!--<script>
  var socket = io.connect("http://localhost:3000", { 'forceNew': true });

  function render(data) {
      var html = data.map(function(elem,index) {
          return(`<div>
                  <strong>${elem.user}</strong>:
                  <em>${elem.text}</em> </div>`);
      }).join(" ");
      document.getElementById("messages").innerHTML = html;
  }

  socket.on("messages", data => {
      console.log(data);
      render(data);
  });

  function addMessage(e) {
      var message = [{
          text: document.getElementById('text').value,
          author: document.getElementById('fuser').value
      }];
      socket.emit("new-message",message);
      return false;
  }
</script>-->