<%- layout("layouts/main.ejs")%>

<script src="/socket.io/socket.io.js"></script>
<h3 id="user">User(<%= user.name %>)</h3>
<div class="row">
    <div class="col-mt-4 offset-md-4">
        <div class="card mt-4 text-center">
            <div class="card-header">
                <h3>Select Room</h3>
            </div>
            <div class="card-body">
                <form action="/xat" method="POST">
                    <div class="form-group">
                        <h5 for="room">Room</h5>
                        <select name="room" id="room">
                            <option value="Sala1">Sala1</option>
                            <option value="Sala2">Sala2</option>
                            <option value="Sala3">Sala3</option>
                            <option value="Sala4">Sala4</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block mt-4">Join Room</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--
<script>
    var socket = io();

    var messages = document.getElementById("messageContainer");
    var form = document.getElementById("form");
    var input = document.getElementById("inputChat");

    form.addEventListener('submit', (e) => {
        e.preventDefault();
        if(input.value){
            socket.emit("new-message", input.value);
            input.value = "";
        }
    });

    socket.on("new-message", (msg) => {
        var item = document.createElement("li");
        item.textContent = msg;
        messages.appendChild(item);
        window.scrollTo(0, document.body.scrollHeight);
    });
</script>
-->