<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XAT</title>
    <link rel ="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/darkly/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Xat</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <%if (user){ %>
                    <li class="nav-item">
                        <a class="nav-link" href="/xat">Xat</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                      </li>
                <% } else{%>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Signup</a>
                    </li>
                <% } %>
            </ul>
          </div>
        </div>
      </nav>

    <div class="container">
        <% if (signupMessage.length > 0) { %>
            <div class="alert alert-danger">
                <%= signupMessage %>
            </div>
        <% } %>
    
        <% if (loginMessage.length > 0) { %>
            <div class="alert alert-danger">
                <%= loginMessage %>
            </div>
        <% } %>
        
        <%- body %>
    </div>

</body>
</html>